.body-shift {
    padding-right: 400px !important;
}

.show {
  display: flex!important;
}

.hide {
  display: none!important;
}

.popup-tag{
    position:absolute;
    display:none;
    background-color:#785448d4;
    color:white;
    padding:5px;
    font-size:15px;
    font-weight:bold;
    text-decoration:underline;
    cursor:pointer;
    -webkit-filter: drop-shadow(0 1px 10px rgba(113,158,206,0.8));
}

.echo-float-button {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 16px;
    right: 24px;
    z-index: 1000000;
    border: none!important;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.103);
  }

  .echo-float-button:focus {
    border: none;
    outline:none !important;
  }

  .echo-float-button-icon {
    font-size:20px;
  }
